.vert {

    background: lightblue; 
    height: 500px; 
    display: flex;
    justify-content: center;   
    align-items: center; 
    justify-content: space-around;
    flex-direction: column; 
}

.tall{
    height: 100px;
    width: 200px;
    border: dotted 1px red; 
    background-color: white;
    justify-content: center; 
}

.tall2{
    flex: .52; 
    border: dotted 1px red; 
    background-color: white; 
}

.horiz {
    background: lightgreen; 
    height: 500px; 
    display: flex;
    justify-content: center;   
    align-items: center; 
    justify-content: space-around;
}

.long{
    height: 100px;
    width: 200px;
    border: dotted 1px red; 
    background-color: white; 
}

body{
        color: black; 
        background-color: black;
    }