body{
    background-image: url("../assets/background1.jpg");
    background-repeat: round;
    margin-right: 150px;
    margin-left: 150px; 
}

#birds {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(85, 83, 226);
    color: white;
    font-size: 125%; 
}

header nav a {
    color: white;
    border: 5px solid rgb(245, 241, 28);
    padding: 13px 18px;
    text-decoration: none;
    transition: color 200ms ease-in;

}

header nav a:hover {
    color: rgb(255, 80, 147);
    border: 1px solid whitesmoke;
    animation: blinker 1s linear infinite;

}

h2 {
background-color: rgb(235, 122, 122); 
}
h3 {
    background-color: none; 
    }
#birds li {
    list-style: none;
    position: relative;
    background: white;
    border: 1px solid #aaa;
    border-radius: 15px;
    width: 250px;
    height: 300px;
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 1px 1px 2px #ccc;
    transition: transform 200ms ease-in-out;
}

#birds li:hover {
    box-shadow: 8px 8px 6px rgb(124, 255, 107);
    transform: translate3d(-3px, -3px, 0);
}

#birds li h3 {
    font-size: 1.1rem;
    margin: 5px;
}

#birds li img {
    width: 75%;
    margin-top: 1px;
}

#birds {
    /* padding: 10px;
    display: flex;
    flex-wrap: wrap; */
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
header nav a {
    color: white;
    border: 5px solid rgb(245, 241, 28);
    padding: 13px 18px;
    text-decoration: none;
    transition: color 200ms ease-in;

}

.price {
    font-size: 1.9rem;
    font-family: cursive;
    position: absolute;
    bottom: 0;
    left: 0; 
    right: 0;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.price button {
    transition-property: inherit; 
    padding: 15px; 

}
.price button:hover {
    background: rgb(255, 5, 5);
    color: white;
    padding: 15px; 
}

.is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }
   
  @keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
  }